* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background: url("dowload1.jpg");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-attachment: local;
    border-color: aqua;
    color: white;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20vh;
    background-color: gray;
}

.imgmain {
    width: 250px;
    height: 250px;
    border-radius: 30%;
    border: solid 4px black;
}
.content-principal {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-details {
    display: flex;
    width: 100%;
}
.content-details2{
    display: flex;
    width: 100%;
}
.titulo2{
    padding-top: 10vh;
    text-align: center;
    color: white;
}
section {
    background-color: black;
}
.img1 {
    width: 90vh;
    height: 50vh;
}
.bob {
    display: flex;
    width: 50%;
    height: 100vh;
}
p {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: x-large;
}
.titulo {
    padding-top: 10vh;
    text-align: center;
    color: white;
}
.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: gray;
}
.direitos {
    background-color: black;
}
/*mobile*/
@media (max-width: 800px) {
    main {
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .content-details {
        align-items: center;
        width: auto;
        flex-direction: column;
    }
    .content-details2{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .bob{
        width: 100%;
        height: 90vh;
    }
}